body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;  /* horizontal */
    align-items: center;      /* vertical */
    height: 100vh;
}


#map {
    width: 600px;
    height: 700px;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 10px;
}
.form-container {
    width: 600px;
    height: 650px;
    flex: 1;
    padding: 30px;
    background-color: #f9f9f9;
    overflow-y: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
}

h2 {
    margin-top: 0;
    text-align: center;
    color: #333;
}

form {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    height: 10px;
}
input.small-input {
    width: 50px;  /* or 80px, adjust as needed */
}


input[type="number"],
input[type="text"],
select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

input[type="submit"] {
    padding: 12px;
    background-color: #1976d2;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #125a9c;
}

h3 {
    text-align: center;
    color: #2e7d32;
}
